@font-face {
  font-family: vazir-bold;
  src: url(../fonts/Vazir-Bold.woff2);
}
@font-face {
  font-family: vazir-light;
  src: url(../fonts/Vazir-Light.woff2);
}
@font-face {
  font-family: vazir-medium;
  src: url(../fonts/Vazir-Medium.woff2);
}
@font-face {
  font-family: vazir-thin;
  src: url(../fonts/Vazir-Thin.woff);
}
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.woff);
}
