$main-color: #417f56;
$nav-color: #717171;
$p-color: #e5f2e9;
$li-color: #adadad;
$menu: #353535;
$food-background: #e1e1e1;
$about-p: #d9d9d9;
$addres: #1e1e1e;
$border-card2: #cbcbcb;
$footer: #ededed;
