* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: vazir-bold;
  src: url(../fonts/Vazir-Bold.woff2);
}
@font-face {
  font-family: vazir-light;
  src: url(../fonts/Vazir-Light.woff2);
}
@font-face {
  font-family: vazir-medium;
  src: url(../fonts/Vazir-Medium.woff2);
}
@font-face {
  font-family: vazir-thin;
  src: url(../fonts/Vazir-Thin.woff);
}
@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.woff);
}
.container {
  padding: 38px 108px;
}

body {
  direction: rtl;
}
body main .hero header {
  width: 100%;
  height: 115px;
}
body main .hero header nav {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .hero header nav .iconss {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
body main .hero header nav .iconss .z {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
body main .hero header nav .navbars {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-right: 250px;
}
body main .hero header nav ul li {
  display: flex;
  align-items: center;
}
body main .hero header nav ul li a {
  font-family: vazir-medium;
  color: #717171;
}
body main .hero header nav ul li .navs {
  font-family: vazir-medium;
  color: #417f56;
  border-bottom: 2px solid #417f56;
}
body main .hero .box {
  background-image: url(../images/Slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  gap: 70px;
}
body main .hero .box h1 {
  color: #e5f2e9;
  font-family: vazir-bold;
  font-weight: 900;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body main .hero .box .box2 {
  width: 184px;
  height: 40px;
  background-color: #417f56;
  color: #e5f2e9;
  border-radius: 8px;
  font-family: vazir-medium;
  padding: 6px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: none;
  font-size: 16px;
}
body main .hero .m {
  color: #353535;
  font-family: vazir-bold;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}
body main .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 555px;
  background-color: #ffffff;
}
body main .menu .card1 {
  width: 288px;
  height: 433px;
  border: 2px solid #cbcbcb;
  border-radius: 8px;
}
body main .menu .card1 img {
  width: 100%;
  height: 256px;
}
body main .menu .card1 h2 {
  font-family: vazir-bold;
  text-align: center;
}
body main .menu .card1 .v {
  font-family: vazir-light;
  color: #717171;
  font-size: 10px;
  display: inline;
}
body main .menu .card1 del {
  font-family: vazir-light;
  color: #717171;
  font-size: 10px;
  margin-right: 60px;
  display: inline;
}
body main .menu .card1 .off {
  width: 32px;
  height: 16px;
  background-color: #fff2f2;
  color: #c30000;
  margin-right: 20px;
  text-align: center;
  display: inline;
  border-radius: 4px;
  font-family: vazir-light;
  font-size: 10px;
}
body main .menu .card1 .l {
  font-family: vazir-light;
  font-size: 10px;
  color: #717171;
  display: inline;
}
body main .menu .card1 .r {
  font-family: vazir-medium;
  font-size: 17px;
  margin-right: 80px;
  display: inline;
  color: #353535;
}
body main .menu .card1 button {
  width: 255px;
  height: 40px;
  border-radius: 4px;
  background-color: #417f56;
  border: none;
  color: #e5f2e9;
  font-family: vazir-bold;
  margin-top: 30px;
  margin-right: 13px;
}
body main .populars {
  width: 100%;
  height: 555px;
  background-color: #315f41;
}
body main .populars .e {
  font-family: vazir-bold;
  font-size: 30px;
  color: #ffffff;
}
body main .populars .q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #315f41;
}
body main .populars .q .card2 {
  width: 288px;
  height: 433px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
}
body main .populars .q .card2 h2 {
  font-family: vazir-bold;
  text-align: center;
}
body main .populars .q .card2 .v {
  font-family: vazir-light;
  color: #717171;
  font-size: 10px;
  display: inline;
}
body main .populars .q .card2 del {
  font-family: vazir-light;
  color: #717171;
  font-size: 10px;
  margin-right: 60px;
  display: inline;
}
body main .populars .q .card2 .off {
  width: 32px;
  height: 16px;
  background-color: #fff2f2;
  color: #c30000;
  margin-right: 20px;
  text-align: center;
  display: inline;
  border-radius: 4px;
  font-family: vazir-light;
  font-size: 10px;
}
body main .populars .q .card2 .l {
  font-family: vazir-light;
  font-size: 10px;
  color: #717171;
  display: inline;
}
body main .populars .q .card2 .r {
  font-family: vazir-medium;
  font-size: 17px;
  margin-right: 80px;
  display: inline;
  color: #353535;
}
body main .populars .q .card2 button {
  width: 255px;
  height: 40px;
  border-radius: 4px;
  background-color: #417f56;
  border: none;
  color: #e5f2e9;
  font-family: vazir-bold;
  margin-top: 30px;
  margin-right: 13px;
}
body main .b {
  color: #353535;
  font-family: vazir-bold;
  font-size: 30px;
  margin-top: 70px;
}
body main .world {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .world .card3 {
  width: 288px;
  height: 433px;
  border: 2px solid #cbcbcb;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: -30px;
}
body main .world .card3 h2 {
  font-family: vazir-bold;
  text-align: center;
}
body main .world .card3 .v {
  font-family: vazir-light;
  color: #717171;
  font-size: 10px;
  display: inline;
}
body main .world .card3 del {
  font-family: vazir-light;
  color: #717171;
  font-size: 10px;
  margin-right: 60px;
  display: inline;
}
body main .world .card3 .off {
  width: 32px;
  height: 16px;
  background-color: #fff2f2;
  color: #c30000;
  margin-right: 20px;
  text-align: center;
  display: inline;
  border-radius: 4px;
  font-family: vazir-light;
  font-size: 10px;
}
body main .world .card3 .l {
  font-family: vazir-light;
  font-size: 10px;
  color: #717171;
  display: inline;
}
body main .world .card3 .r {
  font-family: vazir-medium;
  font-size: 17px;
  margin-right: 80px;
  display: inline;
  color: #353535;
}
body main .world .card3 button {
  width: 255px;
  height: 40px;
  border-radius: 4px;
  background-color: #417f56;
  border: none;
  color: #e5f2e9;
  font-family: vazir-bold;
  margin-top: 30px;
  margin-right: 13px;
}
body main .box30 {
  display: flex;
  justify-content: center;
}
body main .box30 .box0 {
  color: #315f41;
  font-family: vazir-bold;
  margin-top: 20px;
  font-size: 17px;
  width: 184px;
  height: 40px;
  border: 2px solid #315f41;
}
body main .ekbatan {
  color: #353535;
  font-family: vazir-bold;
  margin-top: 40px;
  font-size: 30px;
  margin-right: 44.7%;
}
/*body main .box9 {
  width: 810px;
  height: 130px;
  border: 2px solid #315f41;
  margin-right: 24%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body main .box9 .x {
  display: inline;
}
body main .box9 .x p {
  font-family: vazir-light;
  font-size: 17px;
  color: #353535;
  margin-left: 40px;
}*/
